/* Base styling */
body {
    background-color: #f2eded;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #95bee9;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #368173;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease;
}

nav a:hover {
    background: #004085;
    border-radius: 5px;
}

.hero .slider {
    display: flex;
    overflow: hidden;
    height: 60vh;
    position: relative;
}

.hero .slider img {
    width: 100%;
    height: auto;
    animation: slide 15s infinite;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }

}


.ads {
    margin-left: 20px;
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    max-width: 300px;
}









.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
}

.footer a {
    color: #00f;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}



#products {
    padding: 2rem;
    background-color: white;
    text-align: center;
}

#products h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
}

.product-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.product-item h3 {
    color: #333;
    margin-bottom: 0.5rem;
}

.product-item p {
    margin: 0.5rem 0;
}

.product-img-size{
    height: 290px ;
    width: 435px;
}

.productcat-img-size{
    height: 278px ;
    width: 185px;
}




/*  YAHA SE   Header Container */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Search Box */
.search-box {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 200px;
}

/* User Profile */
.user-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}

.user-name {
    color: white;
    font-size: 1rem;
}

